[mysqld]

port                    = 3306
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
socket                  = /run/mysqld/mysqld.sock
tmpdir                  = /tmp
bind-address            = 0.0.0.0
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci

skip-name-resolve